@model Store_Scheduler.Models.employees

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.payType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.payType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hourlyRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hourlyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.overtimeRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.overtimeRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role.roleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.userID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.employeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
